* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Quicksand", sans-serif ;
    
}

/* Navigation */

.nav-container {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0) 100%);
    height: 100px;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav .logo {
    margin-top: 34px;
    width: 131px;
    height: 32px;
}

.nav-items li {
    list-style: none;
    margin-top: 42px;
    margin-right: 70px;
}

.nav-items li:nth-last-of-type(1) {
    margin-right: 5px;
}

.nav-items li:nth-last-of-type(2) {
    margin-right: 5px;
}

.nav-items li:nth-last-of-type(3) {
    margin-right: 10px;
}

.nav-items li:nth-last-of-type(4) {
    margin-right: 250px;
}

.nav-items li a {
    color: #EAF5EB;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

/* Header */

.header-container {
    height: calc(100vh - 72px);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    width: 459px;
    height: 186px;
    left: 88px;
    top: 300px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    line-height: 130%;
    /* or 62px */
    /* light green */
    color: #EAF5EB;
    margin-bottom: 28px;
}

header p {
    width: 425px;
    height: 104px;
    left: 88px;
    top: 414px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    /* grey */
    color: #728196;
    margin-bottom: 80px;
}

header a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    /* identical to box height */
    letter-spacing: 0.08em;
    /* light green */
    color: #EAF5EB;
    background: #079911;
    border-radius: 15px;
    filter: drop-shadow(-1px 4px 25px rgba(7, 153, 17, 0.8));
    padding: 15px 12px;
}

header img {
    width: 502px;
    height: 485px;
    margin-top: 80px;
}

/* Hidden Item*/

.notification-icon {
    display: none;
}